:root{
    --cor-primaria: #e00303e1;
    --cor-secundaria: #d16565e1;
    --cor-fundo: #FFFF;
    --cor-texto:  black;
    --cor-contraste: #FFFF;
    --cor-botao: #FFFF;
}

body{
    max-width: 100vw;
}

header {
        background-color: var(--cor-primaria);
        color: var(--cor-botao);
        border: 2px solid black;
        border-radius: 40px;
        text-align: center;
        margin: 0 auto;
        padding: 13px;
    }

main {
        background-color: var(--cor-fundo);
        color: var(--cor-texto);
        margin: 0 auto;
        padding: 16px;

        display: flex;
        flex-wrap: wrap;
    }

article {
        display: flex;

        border: 1px solid var(--cor-texto);

        margin: 16px;
        gap: 16px;
        padding: 16px;
        flex: 1 1 25%;

        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

img {
        width: 200px;
        height: 200px;
        border-radius: 5px;
        padding-right: 20px;

    }

.artigo-autor {
        font-weight: bold;
    }