header {
        background-color: #e00303e1;
        color: #FFFF;
        border: 2px solid black;
        border-radius: 40px;
        text-align: center;
        max-width: 1300px;
        margin: 0 auto;
        padding: 13px;
    }

main {
        background-color: #FFFF;
        color: black;
        max-width: 1200px;
        margin: 0 auto;
        padding: 16px;
    }

article {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

img {
        width: 200px;
        height: 200px;
        border-radius: 5px;
        padding-right: 20px;

    }

.artigo-autor {
        font-weight: bold;
    }